.diminuir_aumentar {
  animation: aparecer 0.4s ease forwards;
}

@keyframes aparecer {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.aumentar_hover{
  transform:scale(1.2)
}
